[build]
  functions = "netlify/functions"

[[redirects]]
  from = "/.netlify/functions/*"
  to = "/.netlify/functions/:splat"
  status = 200

# (optionnel) ta redirection SPA
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
